<a href="https://colab.research.google.com/github/paulfrancis24/CPEN-21A-CPE-1-2/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Phyton

In [ ]:
#comment comment
if 5>2:
  print("hello hello hello")

hello hello hello

In [12]:
a = 24
b = 31
c = 13
print(a)
print(b)
print(c)

24
31
13

In [18]:
a = "comet"
b = int(22)
#float is for decimal
print(a)
print(type(a))
print(b)
print(type(b))

comet
<class 'str'>
22
<class 'int'>

In [24]:
a = 5
b = 10
print(a+b<a-b)

False

In [26]:
a+b is 4 or a*b is 50

True

In [ ]:
a+b is 4 and a*b is 50

In [38]:
answer = not(a+b is 4 == a*b is 50)
if answer == True:
  print("so true")

so true

In [21]:
a, b, c, d = "hehe","12", "hello", "1"
print(a + " " + b + " " + c + " " + d)

hehe 12 hello 1